Django==3.1.1
django-extensions==3.0.8
django-mysql==3.11.1
django-rest-auth==0.9.5
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==3.12
requests==2.18.4

